<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- JNDI Location of property override file -->
	<bean id="syndicatePropertiesPath" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/config/syndicate" />
	</bean>

	<!-- Property Placeholder Configurer -->
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:syndicate.properties</value>
				<ref bean="syndicatePropertiesPath" />
			</list>
		</property>
	</bean>
</beans>
